.user-card {
  min-height: 25px;
  padding: 10px 10px 20px;
  box-sizing: content-box;
  display: flex;
  border-top: 1px solid var(--color-primary);
  margin-top: 10px;
  /* width: 50vw */
}

.left-icon {
  margin-right: 10px;
}

.user-link {
  margin-right: 10px;
  text-decoration: none;
}

.user-link:hover {
  text-decoration: underline;
}

.user-link:active {
  color: inherit
}

.user-link.user-name {
  color: var(--user-color);
}


.user-info {
  color: var(--color-primary)
}

.user-info .secondary {
  color: var(--color-secondary);
}